<h1 align="center">Grading Worksheet</h1>
<div id="log_out">
  <%= button_to "Log Out", root_path, :method => :get %>
</div>
<table border="1">
  <tr>
    <th>Student_Number</th>
    <th>Student_Name</th>
    <th>Project</th>
    <th>Labs</th>
    <th>Discussions</th>
    <th>Test</th>
    <th>Final</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sheets.each do |sheet| %>
  <tr>
    <td><%= sheet.student_number %></td>
    <td><%= sheet.student_name %></td>
    <td><%= sheet.project %></td>
    <td><%= sheet.labs %></td>
    <td><%= sheet.discussions %></td>
    <td><%= sheet.test %></td>
    <td><%= sheet.final %></td>
    <td><%= button_to 'Show', sheet, method: :get%></td>
    <td><%= button_to 'Edit', edit_sheet_path(sheet), method: :get %></td>
    <td><%= link_to 'Destroy', sheet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= button_to 'New Sheet', new_sheet_path, method: :get %>
