<!-- Hello -->
<% if user_signed_in? %>
  <div style="float:right">
      <%= current_user.username %>
          <%= button_to 'message', edit_user_registration_path, :method=>:get %>
              <%= button_to 'log out', destroy_user_session_path, :method=>:delete %>
                </div>
                <% end %>
<%= link_to 'FAQ', faq_path %>

</br> </br>

<%= link_to 'Problem Set', problemslist_path(1) %>

</br> </br>

<%= link_to 'Forum', forum_path %>

</br> </br>

Login | Signup
